{% extends 'base.html.twig' %}
	{% block metatitle %}
	<!-- Nomme l'onglet du navigateur -->
	<title>Create cocktail</title>
	{% endblock metatitle %}


	{% block main %}
	<!-- On utilise la fonction intégrée "extends" pour étendre les propriétés de base.html.twig à cette page, ce qui permet de récupérer les données et donc l'indication du ou des block(s) à compléter -->
		<main>
			<h1>New cocktail</h1>
		</main>
	{% endblock main %}