{% extends 'base.html.twig' %}
	{% block main %}
	<!-- On utilise la fonction intégrée "extends" pour étendre les propriétés de base.html.twig à cette page, ce qui permet de récupérer les données et donc l'indication du ou des block(s) à compléter -->
		<main>
			<h1>Derniers cocktails créés</h1>
				{% include 'partials/_cocktail-loop.html.twig' %}
		</main>
	{% endblock main %}
    
