{% extends 'base.html.twig' %}
	{% block main %}
		<main>
			{% include 'partials/_aside-ad.html.twig' %}
			<h1>Derniers cocktails créés</h1>
				{% include 'partials/_cocktail-loop.html.twig' %}
		</main>
	{% endblock main %}
    
