{% include 'partials/_header.html.twig' %}

    <main>
		<h1>Derniers cocktails créés</h1>
           	{% include 'partials/_cocktail-loop.html.twig' %}
	</main>

{% include 'partials/_footer.html.twig' %}