{% extends 'base.html.twig' %}
	{% block metatitle %}
	<!-- Nomme l'onglet du navigateur -->
	<title>List-cocktail</title>
	{% endblock metatitle %}

	{% block main %}
		<main>
			<h1>Liste des cocktails :</h1>
				{% include 'partials/_cocktail-loop.html.twig' %}
		</main>
	{% endblock main %}